// Основные цвета
$primary: #333333; // Грифель (основной фон или текст для темной темы)
$secondary: #f1d3bc; // Креп (фоновые элементы или вспомогательные детали)
$accent: #f34a4a; // Неоновый красный (акцентные элементы)

// Темные цвета
$dark: #262f34; // Темно-серый текст
$dark-page: #615049; // Коричневый серый (второстепенные элементы)

// Цвета состояний
$positive: #66bb6a; // Зеленый для успеха
$negative: #f34a4a; // Неоновый красный для ошибок
$info: #31ccec; // Голубой для информации
$warning: #f2c037; // Желтый для предупреждений
